
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  }
  .section-one{
    background-color:#412567 ;
  }
.navbar{
  display: flex;
  justify-content: space-between;
  margin-left: 15%;
  margin-right: 15%;
  align-items: center;

}
.logo{
color: white;

}

.logohalf{
background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8  );
-webkit-background-clip: text;
-webkit-text-fill-color:transparent;

}
.menu{
  display: flex;
 list-style: none;
gap: 5%;
color: white;
}
.Subscribe-btn{
  background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8  );
  width: 130px;
  height: 44px;
  border-radius: 45px;
  border: none;

}
.bg-img{
  position: absolute;
  inset: 0;
  border: 2px solid red;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 60% 50%;

}
.banner{

  /*background: url("../assets/hero-bg.png");*/
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid green;
}
.images {position: relative;
  width: 200px;
  margin-top: 0;
  border: 1px solid white;
}
.images img{
  position: absolute;
  left: 20%;
  bottom: 0%;
  border: 1px solid white;
}
.descrip{ 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
 
}
.circle{width: 70%;}
.microphone{
  width: 20%;
}

.about{
  background-color:#1A0B2E ;
  max-height: 500px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
 
  justify-content: center;
  align-items: center;
  border: 5px solid red;
 
  
}
.podcast{
  width: 70%;
  border: 1px solid green;
 
  justify-items: center;
}
.podcast h1{
  color: white;
  
}
.podcast p{
text-align: center;
color: #FFFFFF;

font-size: 16px;
font-weight: 200;
}
.growth{ border: 1px solid green;
display: flex;
width: 70%;
justify-content: space-between;
margin-top: 50px;}
.number{
  color:#00FF88;
 text-align: center;
}
.spec{
  color: white;
  text-align: center;
  font-size: .5rem;
  font-weight: 100;

}
.container{
  background-color: #230E3D;
 border: 1px solid green;
}
.containerpos{
  margin: 0% 10% 10% 10%;

  border: 1px solid white;
  
}
.layout{
  gap: 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 150px);
}
.why h1{
  color: white;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
.layout box{
 
  border: 1px solid red;
}
.boxone{
  grid-row: span 2;
  border-radius: 20px;
  background-color: #25084b;
}
.boxtwo{grid-column: span 2;
border-radius: 20px;
background-color: #25084b;}
.boxthree{grid-column: span 2;
  border-radius: 20px;
  background-color: #25084b;
 }
.boxfour{grid-column: span 2;
  border-radius: 20px;
  background-color: #25084b;
  overflow: auto;
}
.boxfive{grid-column: span 1;
  border-radius: 20px;
  background-color: #25084b;
  overflow: auto;
 }

  .whyhd{
    color: white;
    margin-left: 5%;

    font-weight: 600;
    padding-top: 0px;
    margin-bottom: 8px;
  }
  .whyp{margin-top: 2px;
    color: white;
    font-size: .8rem;
    font-weight: 200;
    margin-left: 5%;
   
  }
  .boxone img{
    height:40px;
   
    margin-left: 5%;
    margin-top: 20px;
  }
  .boxtwo img{
    height:40px;
   
    margin-left: 5%;
    margin-top: 20px;
  }
  .boxfive img{
    height:30px;
   
    margin-left: 5%;
    margin-top: 20px;
  }
  .boxthree img, .boxfour img{
    height:40px;
   
    margin-left: 5%;
    margin-top: 20px;
  }



  .featured{
    background-color: #1A0B2E;
  }

  .Featured-Epi h2{
    color: white;
    font-size: 3rem;
  }
  .Featured-Epi{
    display: flex;
   justify-content: center;
  }
  .vid-sec{
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    margin: 0% 10%;
    gap: 5%;
    
   
  }
  .vid{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    background-color: #250D44;
    border-radius: 20px;
  
 
  }
  .vid iframe{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
   

  }
  .vid p, h3{color: white;
    margin-top: 4%;
  }
  .min{
    display: flex;
  align-items: center;
  gap: 8px;
 border: 1px solid red;
 padding-left: 10px;

  }
  .min img{
    width: 20px;
    height: 20px;
    margin-bottom: 0;
  }
  .vid h6{
    color: #00FF88;
    font-size: 1rem;
    ;
   
    
  }
  .host-start h2{
    color: white;
    font-size: 3rem;
  }
  .host-start{display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .host-pic img{
    width: 90%;
    border: 2px solid green;
   margin: 10% 0%;
   height: 60%;
  }
  .host-pic{border: 2px solid white;
align-content: center;
width: 110%;}

  .host-about img{
    width: 30px;
    margin-right: 20px;
    padding: 10px;
    border: solid 1px red;
    border-radius: 50%;
    object-fit: contain;
   
  }
  .host-about {
    align-content: center;
  }
  .host-about h4{
    color: white;
    font-size: 2.5rem;
    margin-bottom: 2%;
  }
  .host-about p{
    color: white;
  font-weight: 100;
  font-size: 16px;
}
  .host-prof{
    display: flex;
    border: 1px solid red;
    margin: 0 10%;
    background-color: #250D44;
    border-radius: 20px;

  }
  .footer {
   
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: green;
  }
  
  .footer-bg {
    width: 100%;
    height: auto;
    display: block;
  }
  .socio{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
   text-align: center;
   
  }
  .socio-inner{
    display: flex;
  }
  .socio-inner img{
    width: 25px;
    height: 25px;
  }

 
  @media (max-width:576px) {
    .layout{display: flex;
    flex-direction: column;}
    .vid-sec{
      display: flex;
      flex-direction: column;
    }
    .vid{margin-bottom: 20px;}
    .host-prof{display: flex;
    flex-direction: column;}
    .host-about{
      text-align: center;
    }
    
    
   

