
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  }
  .section-one{
    background-color:#412567 ;
  }
.navbar{
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;

}
.logo{
color: white;

}
.star{
  font-size: .8em;
}

.logohalf{
background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8  );
-webkit-background-clip: text;
-webkit-text-fill-color:transparent;

}
.menu{
  display: flex;
 list-style: none;
gap: 10%;
color: white;
}
.Subscribe-btn{
  background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8  );
  width: 130px;
  height: 44px;
  border-radius: 45px;
  border: none;

}
.bg-img{
  position: relative;
    width: 100%;
    overflow: hidden;
    background-color: green;
    height: 70vh;
    

}
.banner{

  /*background: url("../assets/hero-bg.png");*/
  position: relative;
  width: 100%;
  overflow: hidden; 
  border: 1px solid red;
}
.banner-stuff{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.two-img{
  display: flex;
  justify-content: center;
}
.images {position: relative;
  width: 40%;
  margin-top: 0;
  border: 5px solid green;
  display: flex;
  justify-content: center;

 
}
.circle{

  width: 100%;
  height: 100%;
  display: block;
}
.microphone{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%; 
  transform: translate(-50%, -50%);
}
.descrip{ 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
 
}
.circle{width: 100%;}
.microphone{
  width: 30%;
}
.badge{
  position: absolute;
  top: 10%;
  right: 12%;
  transform: translate(50%, -50%);
  font-weight: 500;

  background: #00FF88;
  color: black;
  border-radius: 50px;
  font-size: 12px;
  padding: 4px 8px;

}

.tech {gap:;
  flex-direction: column;
  display: flex;
  text-align: center;
}
.tech h1{
  color: #FFFFFF;
  font-size:3rem ;
  font-weight: 700;
  margin-bottom: 0px;
}
.tech {
  font-weight: 200;
}
.button {
  display: flex;
  gap: 20px;
  justify-content: center;
  color: black;
}
.btnone{
  color:white ;
  background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8  );
  width: 160px;
  height: 44px;
  border-radius: 45px;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 2%;
  transition: 1s;
}
.btntwo{
  color:#00FF88 ;
  background-color: transparent;
  width: 120px;
  height: 44px;
  border-radius: 45px;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 3%;
  cursor: pointer;
  border:solid 1px #00FF88;
  transition: 0.5s;

}
.btnone:hover {
  cursor: pointer;
  color: black;
  background: #9100F8;
}
.btntwo:hover{
  cursor: pointer;
  color: black;
  background: #9100F8;
}
.about{
  background-color:#1A0B2E ;
  max-height: 500px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
 
  justify-content: center;
  align-items: center;
  border: 5px solid red;
 
  
}
.podcast{
  width: 70%;
  border: 1px solid green;
 
  justify-items: center;
}
.podcast h1{
  color: white;
  
}
.podcast p{
text-align: center;
color: #FFFFFF;

font-size: 16px;
font-weight: 200;
}
.growth{ border: 1px solid green;
display: flex;
width: 70%;
justify-content: space-between;
margin-top: 50px;}
.number{
  color:#00FF88;
 text-align: center;
}
.spec{
  color: white;
  text-align: center;
  font-size: .5rem;
  font-weight: 100;

}
.container{
  background-color: #230E3D;
 border: 1px solid green;
}
.containerpos{
  margin: 0% 10% 10% 10%;

  border: 1px solid white;
  
}
.layout{
  gap: 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 150px);
}
.why h1{
  color: white;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
.layout box{
 
  border: 1px solid red;
}
.boxone{
  grid-row: span 2;
  border-radius: 20px;
  background-color: #25084b;
}
.boxtwo{grid-column: span 2;
border-radius: 20px;
background-color: #25084b;}
.boxthree{grid-column: span 2;
  border-radius: 20px;
  background-color: #25084b;
 }
.boxfour{grid-column: span 2;
  border-radius: 20px;
  background-color: #25084b;
  overflow: auto;
}
.boxfive{grid-column: span 1;
  border-radius: 20px;
  background-color: #25084b;
  overflow: auto;
 }

  .whyhd{
    color: white;
    margin-left: 5%;

    font-weight: 600;
    padding-top: 0px;
    margin-bottom: 8px;
  }
  .whyp{margin-top: 2px;
    color: white;
    font-size: .8rem;
    font-weight: 200;
    margin-left: 5%;
   
  }
  .boxone img{
    height:40px;
   
    margin-left: 5%;
    margin-top: 20px;
  }
  .boxtwo img{
    height:40px;
   
    margin-left: 5%;
    margin-top: 20px;
  }
  .boxfive img{
    height:30px;
   
    margin-left: 5%;
    margin-top: 20px;
  }
  .boxthree img, .boxfour img{
    height:40px;
   
    margin-left: 5%;
    margin-top: 20px;
  }



  .featured{
    background-color: #1A0B2E;
  }

  .Featured-Epi h2{
    color: white;
    font-size: 2.5rem;
  }
  .Featured-Epi{
    display: flex;
   justify-content: center;
  }
  .vid-sec{
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    margin: 0% 10%;
    gap: 5%;
    
   
  }
  .vid{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    background-color: #250D44;
    border-radius: 20px;
  
 
  }
  .vid iframe{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
   

  }
  .vid p, h3{color: white;
    margin-top: 4%;
  }
  .min{
    display: flex;
  align-items: center;
  gap: 8px;
 border: 1px solid red;
 padding-left: 10px;

  }
  .min img{
    width: 20px;
    height: 20px;
    margin-bottom: 0;
  }
  .vid h6{
    color: #00FF88;
    font-size: 1rem;
    ;
   
    
  }
  .host-start h2{
    color: white;
    font-size: 2.5rem;
  }
  .host-start{display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .host-pic img{
    width: 90%;
    border: 2px solid green;
   margin: 10% 0%;
   height: 60%;
  }
  .host-pic{border: 2px solid white;
align-content: center;
width: 110%;}

  .host-about img{
    width: 30px;
    margin-right: 20px;
    padding: 10px;
    border: solid 1px red;
    border-radius: 50%;
    object-fit: contain;
    cursor: pointer;
   
  }
 
  .host-about {
    align-content: center;
  }
  .host-about h4{
    color: white;
    font-size: 2rem;
    margin-bottom: 2%;
  }
  .host-about p{
    color: white;
  font-weight: 100;
  font-size: 16px;
}
  .host-prof{
    display: flex;
    border: 1px solid red;
    margin: 0 10%;
    background-color: #250D44;
    border-radius: 20px;
    padding-bottom: 40px;

  }
  .footer {
   
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: green;
    
  }
  
  .footer-bg {
    width: 100%;
    height: auto;
    display: block;
   
  }
  .footer-content{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }
  .techw h1{ 
    display: flex;
    justify-content: center;
    font-weight: 800;
  }
  .socio{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .socio-inner{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: white;
    font-weight: 300;

  }
  .socio-inner img{
    width: 25px;
    height: 25px;
  }
  .copyright p{
    color: white;
    font-weight: 250;
    display: flex;
    justify-content: center;
  }
 
  @media (max-width:576px) {
    .layout{display: flex;
    flex-direction: column;}
    .vid-sec{
      display: flex;
      flex-direction: column;
    }
    .vid{margin-bottom: 20px;}
    .host-prof{display: flex;
    flex-direction: column;}
    .host-about{
      text-align: center;
    }
  
    .footer-bg{
      height: 350px;
      width: 100%;
    }
    .socio{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0px;
    }
   

  }